.no-items{
    width: 80%;
    height: 50vh;
    background-color: rgb(223, 237, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem;
    font-size: 24px;
    text-transform: capitalize;
    box-shadow: 2px 11px 32px 0px rgba(0, 140, 255, 0.719);
}

.items{
    margin: 2rem;
    width: 80%;
    height: 15vh;
    background-color: rgb(223, 237, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    box-shadow: 2px 11px 32px 0px rgba(0, 140, 255, 0.288);
}

.img{
    width: 5rem;
    height: 3rem;
}

.Fcomrice{
    display: flex;
}

.fav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 2rem;
    text-transform: capitalize;
}